.App {
  text-align: center;
  font-family: sans-serif;
  padding: 2rem;
  max-width: 500px;
  margin: auto auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  align-self: center;
}

.input {
  padding: 10px;
  width: 80%;
  font-size: 1rem;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.bar-container {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 10px auto;
  width: 80%;
}

.bar {
  height: 100%;
  border-radius: 5px;
  transition: width 0.4s ease;
}
